/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 64, ../bower_components/solarized/scss/solarized.scss */
.post-meta {
  color: #839496;
}

/* line 64, ../bower_components/solarized/scss/solarized.scss */
body, #footer {
  color: #93a1a1;
}

/* line 64, ../bower_components/solarized/scss/solarized.scss */
a {
  color: #eee8d5;
}

/* line 14, ../scss/_type.scss */
html {
  font: 1.125em/1.6875em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 20, ../scss/_type.scss */
p, pre,
ul, ol, li,
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* line 26, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  color: #93a1a1;
  margin-top: 0;
  line-height: 1.5rem;
}

/* line 33, ../scss/_type.scss */
h1, h2, h3 {
  font-weight: normal;
  letter-spacing: -0.05em;
}

/* line 38, ../scss/_type.scss */
h1, .alpha, .g-guy p, .g-guys-title p {
  font-size: 2rem;
  line-height: 1.5rem;
  padding-top: 0.05556rem;
  margin-bottom: 1.44444rem;
}

/* line 45, ../scss/_type.scss */
.alpha-minus {
  font-size: 1.77778rem;
  line-height: 1.5rem;
  padding-top: 0.05556rem;
  margin-bottom: 1.44444rem;
}

/* line 52, ../scss/_type.scss */
h2, .beta {
  font-size: 1.55556rem;
  line-height: 1.5rem;
  padding-top: 0.22222rem;
  margin-bottom: 1.27778rem;
}

/* line 59, ../scss/_type.scss */
h3, .gamma, .list-gamma li, .blurb {
  font-size: 1.16667rem;
  line-height: 1.5rem;
  padding-top: 0.27778rem;
  margin-bottom: 1.22222rem;
}

/* line 66, ../scss/_type.scss */
h4, .delta, p, pre, .list-delta li {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.38889rem;
  margin-bottom: 1.11111rem;
}

/* line 74, ../scss/_type.scss */
h5, .epsilon, .site-header .site-header-copy {
  font-size: 0.88889rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

/* line 81, ../scss/_type.scss */
h6, .zeta, #footer a, #footer span, .post-meta {
  font-size: 0.77778rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

/* line 89, ../scss/_type.scss */
.deca, .g-guy p .em, .g-guys-title p .em {
  font-size: 2.66667rem;
  line-height: 3rem;
  padding-top: 0.55556rem;
  margin-bottom: 0.94444rem;
}

/* line 96, ../scss/_type.scss */
.hecto {
  font-size: 3.33333rem;
  line-height: 3rem;
  padding-top: 0.38889rem;
}

/* line 104, ../scss/_type.scss */
p {
  padding-left: 0.1em;
}

/* line 109, ../scss/_type.scss */
pre {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

/* line 115, ../scss/_type.scss */
p > code {
  line-height: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* line 124, ../scss/_type.scss */
.list-gamma li {
  margin-bottom: -0.44444rem;
}

/* line 133, ../scss/_type.scss */
.list-delta li {
  margin-bottom: -0.38889rem;
}

/* line 138, ../scss/_type.scss */
.no-break {
  display: inline-block;
}

/* line 142, ../scss/_type.scss */
.round, .face {
  border-radius: 50%;
}

/* line 147, ../scss/_type.scss */
.text-center, .g-guy p, .g-guys-title p, .site-header .site-header-copy {
  text-align: center;
}

/* line 151, ../scss/_type.scss */
.text-right {
  text-align: right;
}

/* line 155, ../scss/_type.scss */
.text-left {
  text-align: left;
}

/* line 4, ../scss/_grid.scss */
.vr-lines {
  background-size: 100% 27px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(25%, rgba(147, 161, 161, 0.4)), color-stop(1px, rgba(147, 161, 161, 0.4)), color-stop(1px, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(top, transparent, rgba(147, 161, 161, 0.4), rgba(147, 161, 161, 0.4) 1px, transparent 1px, transparent);
  background-image: linear-gradient(to bottom,transparent, rgba(147, 161, 161, 0.4), rgba(147, 161, 161, 0.4) 1px, transparent 1px, transparent);
}

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../scss/_grid.scss */
.container {
  *zoom: 1;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
/* line 18, ../scss/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../scss/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}

/* line 22, ../scss/_grid.scss */
.r {
  *zoom: 1;
  display: block;
}
/* line 18, ../scss/bourbon/addons/_clearfix.scss */
.r:before, .r:after {
  content: " ";
  display: table;
}
/* line 23, ../scss/bourbon/addons/_clearfix.scss */
.r:after {
  clear: both;
}

/* line 26, ../scss/_grid.scss */
.r-pad-top {
  padding-top: 1.5rem;
}

/* line 32, ../scss/_grid.scss */
.g-1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-1:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-2:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-3 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-3:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-4 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-4:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-5 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-5:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-6:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-7 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-7:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-8 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-8:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-9 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-9:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-10 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-10:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-11 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 91.4702%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-11:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_grid.scss */
.g-12 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g-12:last-child {
  margin-right: 0;
}

/* line 37, ../scss/_grid.scss */
.g {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.g:last-child {
  margin-right: 0;
}

/* line 65, ../scss/_grid.scss */
.test-grid [class*="g-"] {
  background: rgba(38, 139, 210, 0.5);
  background-size: 50px 50px;
  color: rgba(253, 246, 227, 0.8);
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  margin-bottom: 0.77778rem;
  color: rgba(0, 0, 0, 0.6);
}
/* line 74, ../scss/_grid.scss */
.test-grid [class*="g-"] p {
  margin-bottom: 0.33333rem;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%;
  background-color: rgba(211, 54, 130, 0.5);
  color: #9b225c;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-1:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: rgba(220, 50, 47, 0.5);
  color: #a31e1b;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-2:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-3 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: rgba(203, 75, 22, 0.5);
  color: #86320f;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-3:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-4 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: rgba(133, 153, 0, 0.5);
  color: #424d00;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-4:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-5 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  background-color: rgba(42, 161, 152, 0.5);
  color: #1a645f;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-5:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-color: rgba(38, 139, 210, 0.5);
  color: #1a6091;
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-6:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-7 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  background-color: rgba(211, 54, 130, 0.5);
  color: #9b225c;
  background-color: rgba(211, 54, 130, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-7:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-8 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  background-color: rgba(220, 50, 47, 0.5);
  color: #a31e1b;
  background-color: rgba(220, 50, 47, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-8:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-9 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  background-color: rgba(203, 75, 22, 0.5);
  color: #86320f;
  background-color: rgba(203, 75, 22, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-9:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-10 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  background-color: rgba(133, 153, 0, 0.5);
  color: #424d00;
  background-color: rgba(133, 153, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-10:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-11 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 91.4702%;
  background-color: rgba(42, 161, 152, 0.5);
  color: #1a645f;
  background-color: rgba(42, 161, 152, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-11:last-child {
  margin-right: 0;
}
/* line 88, ../scss/_grid.scss */
.test-grid .g-12 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background-color: rgba(38, 139, 210, 0.5);
  color: #1a6091;
  background-color: rgba(38, 139, 210, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}
/* line 41, ../scss/neat/grid/_span-columns.scss */
.test-grid .g-12:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  /* line 111, ../scss/_grid.scss */
  [class*="g-"] {
    width: 100% !important;
    float: none !important;
  }
}
/* line 1, ../scss/_lists.scss */
.list-plain {
  list-style-type: none;
  padding-left: 0.15em;
}

/* line 21, ../scss/style.scss */
html {
  background: #002b36;
}

/* line 25, ../scss/style.scss */
::selection {
  color: #002b36;
  background: #eee8d5;
}

/* line 30, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 37, ../scss/style.scss */
a {
  text-decoration: none;
}
/* line 40, ../scss/style.scss */
a:hover {
  color: #93a1a1;
}

/* line 45, ../scss/style.scss */
pre {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.4rem;
  background: #073642;
}

/* line 55, ../scss/style.scss */
p > code {
  background: #073642;
}

/* line 62, ../scss/style.scss */
.em {
  color: #eee8d5;
}

/* line 66, ../scss/style.scss */
.site-content a, .site-header a {
  border-bottom: 1px solid rgba(238, 232, 213, 0.3);
}

/* line 78, ../scss/style.scss */
#footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
/* line 83, ../scss/style.scss */
#footer a {
  color: #93a1a1;
  border-bottom: 1px solid #586e75;
}
/* line 87, ../scss/style.scss */
#footer a, #footer span {
  line-height: 0.77778rem;
  display: inline-block;
  margin: 0 1em;
}

/* line 96, ../scss/style.scss */
.site-header-home {
  padding-top: 1.55556rem;
  margin-bottom: 1.5rem;
}
/* line 99, ../scss/style.scss */
.site-header-home a {
  border: none;
}

/* line 109, ../scss/style.scss */
.g-guy, .g-guys-title {
  float: left;
  width: 39%;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(1.66667rem, transparent), color-stop(1.66667rem, #073642), color-stop(7.77778rem, #073642), color-stop(7.77778rem, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(transparent, transparent 1.66667rem, #073642 1.66667rem, #073642 7.77778rem, transparent 7.77778rem, transparent);
  background-image: linear-gradient(transparent, transparent 1.66667rem, #073642 1.66667rem, #073642 7.77778rem, transparent 7.77778rem, transparent);
}
/* line 113, ../scss/style.scss */
.g-guy p, .g-guys-title p {
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2.55556rem;
  letter-spacing: -0.05em;
}
/* line 121, ../scss/style.scss */
.g-guy p .em, .g-guys-title p .em {
  white-space: nowrap;
}

/* line 130, ../scss/style.scss */
.face {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border: 3px solid #eee8d5;
}

/* line 139, ../scss/style.scss */
.g-face {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(1.66667rem, transparent), color-stop(1.66667rem, #073642), color-stop(7.77778rem, #073642), color-stop(7.77778rem, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(transparent, transparent 1.66667rem, #073642 1.66667rem, #073642 7.77778rem, transparent 7.77778rem, transparent);
  background-image: linear-gradient(transparent, transparent 1.66667rem, #073642 1.66667rem, #073642 7.77778rem, transparent 7.77778rem, transparent);
  padding: 0.5rem 0 0;
  width: 22%;
  float: left;
}
/* line 144, ../scss/style.scss */
.g-face a {
  display: block;
  margin: 0 auto;
  max-width: 12rem;
}
/* line 149, ../scss/style.scss */
.g-face a:hover .face {
  border-color: #93a1a1;
}

@media screen and (max-width: 700px) {
  /* line 155, ../scss/style.scss */
  .g-face, .g-guy, .g-guys-title {
    background: none;
  }
  /* line 157, ../scss/style.scss */
  .g-face p, .g-guy p, .g-guys-title p {
    display: block;
    padding-top: 0;
    margin-bottom: 0.4rem;
  }
}
/* line 169, ../scss/style.scss */
.site-title-g {
  text-align: center;
}

/* line 173, ../scss/style.scss */
.site-header {
  padding-top: 1.5rem;
}
/* line 181, ../scss/style.scss */
.site-header .site-header-copy {
  background: #073642;
  margin-bottom: 0.55556rem;
  padding-bottom: 0.44444rem;
}

/* line 191, ../scss/style.scss */
.site-title {
  font: 4.61111rem/4.77778rem "Sniglet";
  overflow: hidden;
  display: inline-block;
  padding: 0 0.15em;
  margin: 0 auto;
}

/* line 199, ../scss/style.scss */
.st1, .st2, .st3, .st4, .st5, .st6 {
  display: inline-block;
  float: left;
  text-align: center;
  margin: 0 -0.155em;
  text-shadow: 0px 0px 14px rgba(7, 54, 66, 0.25);
  position: relative;
}

/* line 213, ../scss/style.scss */
.st1 {
  z-index: 17;
  color: rgba(38, 139, 210, 0.7);
}

/* line 213, ../scss/style.scss */
.st2 {
  z-index: 16;
  color: rgba(42, 161, 152, 0.7);
}

/* line 213, ../scss/style.scss */
.st3 {
  z-index: 15;
  color: rgba(133, 153, 0, 0.7);
}

/* line 213, ../scss/style.scss */
.st4 {
  z-index: 14;
  color: rgba(203, 75, 22, 0.7);
}

/* line 213, ../scss/style.scss */
.st5 {
  z-index: 13;
  color: rgba(220, 50, 47, 0.7);
}

/* line 213, ../scss/style.scss */
.st6 {
  z-index: 12;
  color: rgba(211, 54, 130, 0.7);
}

/* line 225, ../scss/style.scss */
.stripey-guy {
  position: fixed;
  top: 0;
  width: 100%;
  background: #073642;
}
/* line 230, ../scss/style.scss */
.stripey-guy .inner {
  height: 5px;
  line-height: 5px;
  margin: 0 -1rem;
}
/* line 234, ../scss/style.scss */
.stripey-guy .inner div {
  width: 16.6666%;
  height: 5px;
  float: left;
  opacity: 0.8;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(1) {
  background: #449edd;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(2) {
  background: #32c1b7;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(3) {
  background: #a8c200;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(4) {
  background: #e75c23;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(5) {
  background: #e25452;
}
/* line 240, ../scss/style.scss */
.stripey-guy .inner div:nth-child(6) {
  background: #da5797;
}
/* line 244, ../scss/style.scss */
.stripey-guy .inner div:last-child {
  width: 16.667%;
}

/* line 261, ../scss/style.scss */
.posts li span {
  color: #93a1a1;
}

/* line 282, ../scss/style.scss */
.site-title-home {
  font: 9.22222rem/9.22222rem "Sniglet";
  display: inline-block;
  padding: 0 1rem;
}

/* line 290, ../scss/style.scss */
.content-g {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
