//$visual-grid: true;
@import "bourbon/bourbon";

$visual-grid-color: #ff0000;
$visual-grid-opacity: 0.1;
$site-title-colors: 6 7 8 2 3 4;
$max-width: 40em; 
@import "neat/neat";
@import "solarized/scss/solarized";
@import "functions/all.scss";

//$pure-u-prefixes: content;
//$pure-grid-divisor: 3;
//@import "pure-place/scss/grid-classes";
// General

$body-color: $solarized-00;

@import "type";


@import "grid";
@include output-grid-classes;
//@import "compass/typography/vertical_rhythm";
//@include establish-baseline;

@import "lists";

html {
  background: $solarized-03;
}

::selection {
  color:$solarized-03;
  background:$solarized-2;
}

body {
  @extend %solarized-1;
  margin:0;
  padding:0;
  //@extend .vr-lines;
}

a {
  @extend %solarized-2;
  text-decoration: none;
  &:hover {
    color: darken($solarized-2, 10%);
  }
}

pre {  
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.4rem;
  background: $solarized-02;
}

p > code {
  background: $solarized-02;
}


// Style




// Scaffolding

.site-content {
  a {
    border-bottom: 1px solid rgba($solarized-2, 0.3);
  }
}

#footer {
  @extend %solarized-1;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.contact {
  padding:0 1em;
  width:38%;
  display:inline-block;
  box-sizing: border-box;
  a, span {
    @extend %solarized-1;
    display:block;
    font-size:0.8rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a:hover {
    @extend %solarized-01;
  }
}


#footer .face, .contact, .contact {
  vertical-align:middle;
}

#footer .g-4.contact {
}

#footer .face {
  @extend .face;
  border: 2px solid rgba($solarized-2, 0.4);

  padding: 5px;
  display:inline-block;
  max-width:20%;
  box-sizing: border-box;
}

// Title

.site-title-g {
  text-align: center;
  @extend .g-3;
}

.site-header {
  height: 7.5rem;
  padding-top:rem(35);
  line-height:1em;
  .g-4 {
    padding-top:1rem;
  }
  p {
    @extend .epsilon; 
    font-family: $georgia;
    font-style: italic;
    display:inline-block;
    position: relative;
    .span {
      position:relative;
      top:-16px;
    }
  }
}

.site-header .r div:first-child {
  @include shift(0.5);
}


.site-title {
  font: #{rem(83)}/#{rem(86)} 'Sniglet';
  overflow:hidden;
  display:inline-block;
  padding:0 0.15em;
  margin:0 auto;
  //color: $solarized-00;
}
%s {
  display:inline-block;
  float:left;
  text-align: center;
  margin:0 -0.155em;
  text-shadow: 0px 0px 14px rgba($solarized-02, 0.25);
  position:relative;
}


@for $i from 1 through 6 {
  $color-index: nth($site-title-colors, $i);
  $color: nth($solarized-accent-colors, $color-index);
  $z-indexes: 10 9 8 13 12 11;
  .st#{$i} {
    @extend %s;
    //z-index: nth($z-indexes, $i);
    z-index: 18-$i;
    color: rgba($color,0.7);
    //color: rgba($solarized-1, 0.5);
    a:hover & {
    }
  }
}


.stripey-guy {
  position:fixed;
  top: 0;
  width:100%;
  background: $solarized-02;
  .inner {
    height:5px;
    line-height: 5px;
    margin:0 -1rem;
    div {
      width: 16.6666%;
      height: 5px;
      float:left;
      opacity: 0.8;
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          background: lighten(nth($solarized-accent-colors, nth($site-title-colors, $i)), 8%);
        }
      }
      &:last-child {
        width:16.667%;
      }
    }
  }
}




.blurb  {
  @extend .gamma;
}



.posts {
  li span {
    color: $solarized-1;
  }
}


.face {
  @extend .round;
  display: inline-block;
  width:100%;
}

// Posts


.post-meta {
  @extend %solarized-0;
  @extend .zeta;
}



// Home Page

.site-title-g-home {
  @extend .g-12;
  height: 13.5rem;
  padding-top: 3rem;
  text-align: center;
}


.site-title-home {
  font: #{rem(166)}/#{rem(166)} 'Sniglet';
  display: inline-block;
  padding:0 1rem;
}



.face-home {
  @extend .face;
  margin-top:rem(3);
}

.face-g-home {
  @include shift(0.5);
}

.jason-is {
  text-align:justify;
}
