//$visual-grid: true;
@import "bourbon/bourbon";

$visual-grid-color: #ff0000;
$visual-grid-opacity: 0.1;
$site-title-colors: 6 7 8 2 3 4;
$max-width: 40em; 
@import "neat/neat";
@import "solarized/scss/solarized";
@import "functions/all.scss";

//$pure-u-prefixes: content;
//$pure-grid-divisor: 3;
//@import "pure-place/scss/grid-classes";
// General

$body-color: #5A502E;

@import "type";


@import "grid";
@include output-grid-classes;
//@import "compass/typography/vertical_rhythm";
//@include establish-baseline;

@import "lists";

html {
  background: $solarized-3;
}

body {
  @extend %solarized-bg-3;
  @extend %solarized-00;
  //@extend .vr-lines;
}

a {
  @extend %solarized-blue;
  text-decoration: none;
  &:hover {
    color: darken($solarized-blue, 10%);
  }
}

pre {  
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.4rem;
  background: $solarized-2;
}

p > code {
  background: $solarized-2;
}


// Style




// Scaffolding


#footer {
  @extend %solarized-1;
  padding-top: 3rem;
  height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  a {
    @extend %solarized-1;
    display:inline-block;
    &:hover {
      @extend %solarized-01;
    }
  }
}




// Title

.site-title-g {
  text-align: center;
  @extend .g-3;
}

.site-header {
  @extend .container;
  height: 6rem;
  padding-top:rem(18);
  line-height:1em;
  .g-4 {
    padding-top:1rem;
  }
  p {
    @extend .epsilon; 
    font-style: italic;
    display:inline-block;
    position: relative;
    .span {
      position:relative;
      top:-16px;
    }
  }
}

.site-header .r div:first-child {
  @include shift(0.5);
}


.site-title {
  font: #{rem(83)}/#{rem(86)} 'Sniglet';
  overflow:hidden;
  display:inline-block;
  padding:0 0.15em;
  margin:0 auto;
  //color: $solarized-00;
}
%s {
  display:inline-block;
  float:left;
  text-align: center;
  margin:0 -0.155em;
  -webkit-text-stroke: 1px;
  text-shadow: 0px 0px 14px rgba($solarized-3, 0.25);
}


@for $i from 1 through 6 {
  $color-index: nth($site-title-colors, $i);
  $color: nth($solarized-accent-colors, $color-index);
  $z-indexes: 10 9 8 13 12 11;
  .st#{$i} {
    @extend %s;
    z-index: nth($z-indexes, $i);
    color: rgba($color,0.5);
    a:hover & {
    }
  }
}


.stripey-guy {
  position:fixed;
  top: 0;
  width:100%;
  background: $solarized-2;
  .inner {
    height:5px;
    line-height: 5px;
    margin:0 -1rem;
    div {
      width: 16.6666%;
      height: 5px;
      float:left;
      opacity: 0.7;
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          background: lighten(nth($solarized-accent-colors, nth($site-title-colors, $i)), 8%);
        }
      }
      &:last-child {
        width:16.667%;
      }
    }
  }
}




.blurb  {
  @extend .gamma;
}



.posts {
  li span {
    color: $solarized-1;
  }
}


.face {
  @extend .round;
  display: inline-block;
  width:100%;
}
/*
.face-cont {
  perspective: 800px;
  position: relative;
  width:184px;
  height:184px;
  z-index:5;
  &:hover {
    .face-holder{
      @include transform(rotateY(180deg));    
      opacity: 1;
    }
  }
}

.face-holder {
  margin-top: 22px;
  width:184px;
  height:184px;
  position:relative;
  opacity:0.7;
  @include transform-style(preserve-3d);
  @include transition(all 1000ms cubic-bezier(0.060, 0.810, 0.170, 0.985));
}

.face {
  @extend .round;
  @include filter(grayscale(1) sepia(0.6) );
  position: absolute;
  left:0;
  width:100%;
  height:100%;
  @include backface-visibility(hidden);
}

.face-back {
  @include transform(rotateY(180deg));
  @include filter(grayscale(0));
}

*/


// Posts


.post-meta {
  @extend %solarized-0;
  @extend .zeta;
}



// Home Page

.site-title-g-home {
  @extend .g-12;
  height: 12rem;
  padding-top: 1.5rem;
  text-align: center;
}


.site-title-home {
  font: #{rem(166)}/#{rem(166)} 'Sniglet';
  display: inline-block;
  padding:0 1rem;
}

.face-home {
  @extend .face;
  margin-top:rem(3);
}

.face-g-home {
  @include shift(0.5);
}

.jason-is {
  text-align:justify;
}
